$primary-color: #C9CBFF;
$primary-color-light: #F4F5FF;
$primary-color-dark: #424475;

$secondary-color: #7FB9BC;
$secondary-color-light: #D3F1F2;
$secondary-color-dark: #205152;

$black: #222222;
$background: #ffffff;

$shadow: 0px 4px 8px rgba(66, 68, 117, 0.25);