//main styles

@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Source+Code+Pro:wght@200&display=swap');


body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// components

@import 'componentsStyles/navbar';
@import 'componentsStyles/footer';

// pages

@import 'pagesStyles/about';
@import 'pagesStyles/activities';
@import 'pagesStyles/contact';
@import 'pagesStyles/home';


