@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Source+Code+Pro:wght@200&display=swap");
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  z-index: 10; }
  @media (max-width: 600px) {
    header {
      padding: 0.5rem 1rem; } }
  header .icon {
    height: auto;
    width: 10rem; }
  header .menu {
    overflow: hidden;
    color: #424475;
    font-size: 1em;
    display: flex;
    flex-direction: row; }
    header .menu a {
      font-size: 1em;
      color: #424475;
      text-align: center;
      padding: 1em;
      text-decoration: none; }
      header .menu a:hover {
        font-weight: bold; }
    header .menu .subnav .subnavbtn {
      font-size: 1em;
      border: none;
      outline: none;
      color: #424475;
      padding: 1em;
      background-color: inherit;
      font-family: inherit;
      margin: 0; }
    header .menu .subnav:hover .subnav-content {
      display: block; }
    header .menu .subnav:hover .subnavbtn {
      font-weight: bold; }
    header .menu .subnav .subnav-content {
      display: none;
      position: absolute;
      right: 0;
      padding-right: 1em;
      background-color: #424475;
      width: 100%;
      z-index: 1; }
      header .menu .subnav .subnav-content a {
        float: right;
        color: white;
        text-decoration: none; }
        header .menu .subnav .subnav-content a:hover {
          font-weight: bold; }
    header .menu .subnavbtn {
      font-size: 1em; }
  @media (min-width: 600px) {
    header .btn-pluss-wrapper {
      display: none; } }
  @media (max-width: 600px) {
    header .icon {
      height: auto;
      width: 5rem; }
    header .menu {
      font-size: 12px; } }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #424475; }
  footer .footer__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center; }
    footer .footer__information .footer__information--title {
      font-size: 2rem;
      font-weight: bold;
      color: white;
      margin-bottom: 0.5rem; }
    footer .footer__information .footer__information--text {
      color: white; }
    footer .footer__information .footer__information--link {
      text-decoration: none;
      color: #F4F5FF;
      padding: 1rem;
      text-decoration: none; }
      footer .footer__information .footer__information--link span {
        font-weight: 100;
        transition: all 0.5s;
        border-bottom: 1px solid; }
      footer .footer__information .footer__information--link span:nth-child(2) {
        transition-delay: 0.1s; }
      footer .footer__information .footer__information--link span:nth-child(3) {
        transition-delay: 0.2s; }
      footer .footer__information .footer__information--link span:nth-child(4) {
        transition-delay: 0.3s; }
      footer .footer__information .footer__information--link span:nth-child(5) {
        transition-delay: 0.1s; }
      footer .footer__information .footer__information--link span:nth-child(6) {
        transition-delay: 0.2s; }
      footer .footer__information .footer__information--link span:nth-child(7) {
        transition-delay: 0.3s; }
      footer .footer__information .footer__information--link span:nth-child(8) {
        transition-delay: 0.3s; }
      footer .footer__information .footer__information--link:hover span {
        font-weight: 700; }
      footer .footer__information .footer__information--link:hover span:nth-child(8) {
        transition-delay: 0.3s; }
      footer .footer__information .footer__information--link:hover span:nth-child(7) {
        transition-delay: 0.3s; }
      footer .footer__information .footer__information--link:hover span:nth-child(6) {
        transition-delay: 0.3s; }
      footer .footer__information .footer__information--link:hover span:nth-child(5) {
        transition-delay: 0.3s; }
      footer .footer__information .footer__information--link:hover span:nth-child(4) {
        transition-delay: 0.3s; }
      footer .footer__information .footer__information--link:hover span:nth-child(3) {
        transition-delay: 0.2s; }
      footer .footer__information .footer__information--link:hover span:nth-child(2) {
        transition-delay: 0.1s; }
      footer .footer__information .footer__information--link:hover span:nth-child(1) {
        transition-delay: 0s; }
      footer .footer__information .footer__information--link.hover-shadow:hover {
        text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #ddd; }
      footer .footer__information .footer__information--link.hover-color:hover {
        border-color: darkmagenta; }

.about-container {
  background-color: white;
  padding: 5%; }
  .about-container .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about-container .about .about__image {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      border-radius: 50%;
      position: relative;
      bottom: -5rem;
      border: 1rem solid white;
      z-index: 0; }
    .about-container .about .about__content {
      background-color: #F4F5FF;
      padding: 5%;
      border-radius: 20px; }
      .about-container .about .about__content .about__content--title {
        font-size: 2rem;
        color: #424475; }
      .about-container .about .about__content .about__content--subtitle {
        margin-top: 1%;
        color: #424475; }
      .about-container .about .about__content .about__content--text {
        margin: 0.5rem 0; }
      .about-container .about .about__content .about__content--list {
        color: #424475;
        margin: 1rem;
        list-style: none; }

.activities-container {
  background-color: white;
  padding: 10rem 5rem; }
  .activities-container .activities-title {
    font-size: 2.5rem;
    color: #7FB9BC;
    background-color: #D3F1F2;
    padding: 1rem;
    border-radius: 20px; }
  .activities-container .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .activities-container .card-container .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 22rem;
      align-self: stretch;
      margin: 0.5rem 1rem; }
      .activities-container .card-container .card .card__image {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        bottom: -2.5rem;
        border: 0.7rem solid white;
        z-index: 0; }
      .activities-container .card-container .card .card__content {
        background-color: #F4F5FF;
        padding: 2rem;
        border-radius: 20px;
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .activities-container .card-container .card .card__content .card__content--title {
          font-size: 2rem;
          color: #424475; }
        .activities-container .card-container .card .card__content .card__content--subtitle {
          font-size: 1.2rem;
          color: #424475;
          margin-top: 1rem; }
        .activities-container .card-container .card .card__content .card__content--text {
          margin: 1rem 0;
          padding-right: 0.5rem;
          height: 80%;
          overflow-y: auto; }
          .activities-container .card-container .card .card__content .card__content--text::-webkit-scrollbar {
            width: 5px; }
          .activities-container .card-container .card .card__content .card__content--text::-webkit-scrollbar-thumb {
            background-color: #424475; }
        .activities-container .card-container .card .card__content .card__content--button {
          background-color: #424475;
          color: white;
          text-decoration: none;
          margin: 2rem 1rem;
          padding: 0.5rem 1.8rem;
          border-radius: 20px; }

.contact-container {
  height: 100vh;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contact-container .form-container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    height: 80vh; }
    .contact-container .form-container .form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 2rem;
      background-color: #F4F5FF;
      border-radius: 20px; }
      .contact-container .form-container .form .form__title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px; }
      .contact-container .form-container .form .form__subtitle {
        font-size: 36px; }
      .contact-container .form-container .form .form__div {
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: space-evenly; }
        .contact-container .form-container .form .form__div input[type="text"] {
          border: none;
          border-bottom: 2px solid #424475;
          background-color: transparent;
          padding: 0.2rem; }
        .contact-container .form-container .form .form__div input[type="text"]:focus {
          background-color: #dbdbe7;
          outline: none; }
        .contact-container .form-container .form .form__div input[type="submit"] {
          background-color: #dbdbe7;
          outline: none;
          padding: 0.5rem;
          border: 2px solid #424475;
          border-radius: 10px;
          color: #424475;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          font-family: "Nunito", sans-serif;
          letter-spacing: 2px; }
        .contact-container .form-container .form .form__div input[type="submit"]:hover {
          background-color: #424475;
          padding: 0.5rem;
          color: white; }
        .contact-container .form-container .form .form__div input[type="submit"]:focus {
          background-color: #424475;
          box-shadow: inset 19px 19px 38px #383a63, inset -19px -19px 38px #4c4e87;
          color: white; }

body {
  background-color: #ffffff; }

.homeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/ashramPhoto.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%; }
  .homeDiv .quote {
    overflow: hidden;
    color: #205152;
    border-right: 0.15em solid #7FB9BC;
    white-space: nowrap;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.15em;
    font-family: "Source Code Pro", monospace;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #7FB9BC; } }
  @media (max-width: 600px) {
    .homeDiv .quote {
      font-size: 0.7rem; } }

.presentationDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  width: 100%;
  background: linear-gradient(180deg, rgba(147, 150, 203, 0.2) 0%, white 10%); }
  @media (max-width: 600px) {
    .presentationDiv {
      padding: 0 1rem; } }
  .presentationDiv .logo {
    width: 7rem;
    height: 7rem;
    object-fit: scale-down; }
  .presentationDiv .presentationTitle {
    color: #424475; }
  .presentationDiv .presentationDescription {
    text-align: center; }

.activitiesDiv {
  padding: 0 8rem; }
  @media (max-width: 600px) {
    .activitiesDiv {
      padding: 1rem; } }
  .activitiesDiv .activitiesDiv__card {
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media (max-width: 600px) {
      .activitiesDiv .activitiesDiv__card {
        box-shadow: inherit;
        margin: 1rem; } }
    .activitiesDiv .activitiesDiv__card .eventImage {
      width: 100%;
      height: 15rem;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 20px; }
    .activitiesDiv .activitiesDiv__card .cardTitle {
      color: #424475;
      font-size: 1.5rem; }
    .activitiesDiv .activitiesDiv__card .activitiesDiv__card--button {
      background-color: #424475;
      color: white;
      text-decoration: none;
      padding: 0.5rem 1.8rem;
      border-radius: 20px; }

.mapSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem; }
  .mapSection .mapSection__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
    margin-right: 20px; }
  .mapSection .mapSection__map {
    margin: 2rem;
    border: none;
    width: 600px;
    height: 400px; }
