@import "../colors";

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    box-sizing: border-box;
    background-color: white;
    z-index: 10;

    @media (max-width: 600px) {
        padding: 0.5rem 1rem;
    }

    .icon {
        height: auto;
        width: 10rem;
    }

    .menu {
        overflow: hidden;
        color: $primary-color-dark;
        font-size: 1em;
        display: flex;
        flex-direction: row;

        a {
            font-size: 1em;
            color: $primary-color-dark;
            text-align: center;
            padding: 1em;
            text-decoration: none;

            &:hover {
                font-weight: bold;
            }
        }

        .subnav {
            .subnavbtn {
                font-size: 1em;
                border: none;
                outline: none;
                color: $primary-color-dark;
                padding: 1em;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            &:hover {
                .subnav-content {
                    display: block;
                }

                .subnavbtn {
                    font-weight: bold;
                }
            }

            .subnav-content {
                display: none;
                position: absolute;
                right: 0;
                padding-right: 1em;
                background-color: $primary-color-dark;
                width: 100%;
                z-index: 1;

                a {
                    float: right;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }

        .subnavbtn {
            font-size: 1em;
        }
    }
    
    @media (max-width: 720px) {
        .icon {
            height: auto;
            width: 5rem;
        }

        .menu {
            font-size: 16px;

        }
    }

    @media (max-width: 480px) {

        .menu {
            font-size: 14px;

        }
    }
}
