@import "../colors";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #424475;

    .footer__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-content: center;

        .footer__information--title {
            font-size: 2rem;
            font-weight: bold;
            color: white;
            margin-bottom: 0.5rem;
        }

        .footer__information--text {
            color: white;
        }

        .footer__information--link {
            text-decoration: none;
            color: $primary-color-light;
            padding: 1rem;
            text-decoration: none;

            span {
                font-weight: 100;
                transition: all 0.5s;
                border-bottom: 1px solid;
            }
            span:nth-child(2) {
                transition-delay: 0.1s;
            }
            span:nth-child(3) {
                transition-delay: 0.2s;
            }
            span:nth-child(4) {
                transition-delay: 0.3s;
            }
            span:nth-child(5) {
                transition-delay: 0.1s;
            }
            span:nth-child(6) {
                transition-delay: 0.2s;
            }
            span:nth-child(7) {
                transition-delay: 0.3s;
            }
            span:nth-child(8) {
                transition-delay: 0.3s;
            }
            &:hover {
                span {
                    font-weight: 700;
                }
                span:nth-child(8) {
                    transition-delay: 0.3s;
                }
                span:nth-child(7) {
                    transition-delay: 0.3s;
                }
                span:nth-child(6) {
                    transition-delay: 0.3s;
                }
                span:nth-child(5) {
                    transition-delay: 0.3s;
                }
                span:nth-child(4) {
                    transition-delay: 0.3s;
                }
                span:nth-child(3) {
                    transition-delay: 0.2s;
                }
                span:nth-child(2) {
                    transition-delay: 0.1s;
                }
                span:nth-child(1) {
                    transition-delay: 0s;
                }
            }

            &.hover-shadow {
                &:hover {
                    $color: #ddd;
                    text-shadow: 1px 1px 0px $color, 2px 2px 0px $color, 3px 3px 0px $color;
                }
            }
            &.hover-color {
                &:hover {
                    $color: #ddd;
                    //color: darkmagenta;
                    border-color: darkmagenta;
                }
            }
        }
    }
}
