@import 'colors';

.about-container {

    background-color: white;
    padding: 5%;

    .about {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .about__image {
            width: 15rem;
            height: 15rem;
            object-fit: cover;
            border-radius: 50%;
            position: relative;
            bottom: -5rem;
            border: 1rem solid white;
            z-index: 0;
        }

        .about__content {

            background-color: $primary-color-light;
            padding: 5%;
            border-radius: 20px;

            .about__content--title {
                font-size: 2rem;
                color: $primary-color-dark;

            }

            .about__content--subtitle {
                margin-top: 1%;
                color: $primary-color-dark;

            }

            .about__content--text {
                
                margin: 0.5rem 0;
            }

            .about__content--list {
                color: $primary-color-dark;
                margin: 1rem;
                list-style: none;
            }
            
        }

    
    }

}

