@import "../colors";

.contact-container {
    padding-top: 10rem;
    padding-bottom: 10rem;

    @media (max-width: 1240px) {
        padding-top: 6rem;
        padding-bottom: 0;
    }

    .row {
        --bs-gutter-x: 2rem;
        margin: 0;

        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 3rem;
            background-color: $primary-color-light;
            border-radius: 20px;
            border: none;

            .form__title {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 12px;
            }

            .form__subtitle {
                font-size: 2rem;
            }

            .form__div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                input[type="text"] {
                    border: none;
                    border-bottom: 2px solid #424475;
                    background-color: transparent;
                    padding: 0.2rem;
                    margin-bottom: 1rem;

                    &::placeholder {
                        color: $primary-color-dark;
                    }
                }

                input[type="text"]:focus {
                    background-color: #dbdbe7;
                    outline: none;
                }

                textarea {
                    border: none;
                    border-bottom: 2px solid #424475;
                    background-color: transparent;
                    padding: 0.2rem;
                    margin-bottom: 1rem;
                    color: $primary-color-dark;

                    &:focus {
                        background-color: #dbdbe7;
                        outline: none;
                    }
                }

                input[type="submit"] {
                    background-color: #dbdbe7;
                    outline: none;
                    padding: 0.5rem;
                    border: 2px solid #424475;
                    border-radius: 10px;
                    color: #424475;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: "Nunito", sans-serif;
                    letter-spacing: 2px;
                }

                input[type="submit"]:hover {
                    background-color: #424475;
                    padding: 0.5rem;
                    color: white;
                }

                input[type="submit"]:focus {
                    background-color: #424475;
                    box-shadow: inset 19px 19px 38px #383a63, inset -19px -19px 38px #4c4e87;
                    color: white;
                }
            }
        }

        .social {
            padding: 1.5rem;

            @media (max-width: 1240px) {
                height: 25rem;
            }
            .social__container {
                width: 100%;
                height: 100%;

                .social__container--video {
                    width: 100%;
                    height: 80%;
                }

                .social__container--links {
                    height: 20%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    a {
                        text-decoration: none;
                        .bi {
                            color: $primary-color-dark;
                            height: 2.5rem;
                            width: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}
