@import "../colors";

.contact-container {
    height: 100vh;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-container {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80vw;
        height: 80vh;


        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 2rem;
            background-color: $primary-color-light;
            border-radius: 20px;

            .form__title {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 12px;
            }

            .form__subtitle {
                font-size: 36px;
            }

            .form__div {
                display: flex;
                flex-direction: column;
                height: 70%;
                justify-content: space-evenly;

                input[type="text"] {
                    border: none;
                    border-bottom: 2px solid #424475;
                    background-color: transparent;
                    padding: 0.2rem;
                }

                input[type="text"]:focus {
                    background-color: #dbdbe7;
                    outline: none;
                }

                input[type="submit"] {
                    background-color: #dbdbe7;
                    outline: none;
                    padding: 0.5rem;
                    border: 2px solid #424475;
                    border-radius: 10px;
                    color: #424475;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: "Nunito", sans-serif;
                    letter-spacing: 2px;
                }

                input[type="submit"]:hover {
                    background-color: #424475;
                    padding: 0.5rem;
                    color: white;
                }

                input[type="submit"]:focus {
                    background-color: #424475;
                    box-shadow: inset 19px 19px 38px #383a63, inset -19px -19px 38px #4c4e87;
                    color: white;
                }
            }
        }
    }
}

