@import "../colors";

body {
    background-color: $background;
}

.homeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./Ashram/img/ashramPhoto.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 99vh;
    width: 100%;

    .quote {
        overflow: hidden;
        color: $secondary-color-dark;
        border-right: 0.15em solid $secondary-color;
        white-space: nowrap;
        margin: 0 auto;
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 0.15em;
        font-family: "Source Code Pro", monospace;
        animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @keyframes blink-caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: $secondary-color;
        }
    }

    @media (max-width: 600px) {
        .quote {
            font-size: 0.7rem;
        }
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 8rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(147, 150, 203, 0.2) 0%, rgba(255, 255, 255, 1) 10%);

    @media (max-width: 600px) {
        padding: 3em 2rem;
        font-size: 14px;
    }

    .presentation__logo {
        width: 7em;
        height: 7em;
        padding-bottom: 1em;
        object-fit: scale-down;
    }

    .presentation__title {
        color: #424475;
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .presentation__description {
        text-align: center;
        font-size: 1em;

        .presentation__description--span {
            color: $primary-color-dark;
            font-weight: bold;
        }
    }
}

.activitiesDiv {
    padding: 0 8rem;

    @media (max-width: 600px) {
        padding: 1rem;
    }

    .activitiesDiv__card {
        border-radius: 15px;
        padding: 1rem;
        box-shadow: $shadow;

        @media (max-width: 600px) {
            box-shadow: inherit;
            margin: 1rem;
        }

        .eventImage {
            width: 100%;
            height: 15rem;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .cardTitle {
            color: #424475;
            font-size: 1.5rem;
        }

        .activitiesDiv__card--button {
            display: block;
            text-align: center;
            background-color: $primary-color-dark;
            color: white;
            text-decoration: none;
            padding: 0.5rem;
            border-radius: 20px;

            &:hover {
                box-shadow: $shadow;
                transition: all 200ms linear;
            }
        }
    }
}

.mapSection {
    padding: 5em 3em;
    font-size: 16px;

    .mapSection__text {
        flex-wrap: wrap;
    }

    .mapSection__map {
        border: none;
        width: 100%;
        height: 25em;
    }
}
